<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/nav.ejs %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="page-header">
				<h1>Welcome to your profile, <%= username %>!</h1>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
</body>
</html>
