<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>

	<% include ../partials/nav.ejs %>
	<div class="container">
		<br><br>
		<div class="row">
			<div class="alert alert-success" role="alert">
				Account creation was successful, please <a href="/login" class="alert-link">login here</a>
			</div>
		</div>
	</div>
</body>
</html>
